/*-----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/*-------------------
     common style
--------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header, 
.top-section, 
.company-logo, 
.populer-collection,
.featured-products{
    padding: 60px;
}


/*-----------------------
      first section
-----------------------*/
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-section-text{
    width:  50%;
}
.top-section-text h1{
    font-size: 52px;
    font-weight: bold;
}
.top-section-img img{
    width: 100%;
}
.button{
    background-color: #E02C6D;
    display: inline;
    justify-content: space-between;
    padding: 8px 35px;
    border-radius: 41px;
    
}
.button a{
    text-decoration: none;
    margin-right: 10px;
}
.button-font-color{
    color: white;
    font-size: 20px;
}
.button-area:hover .button{
    background-color: green;
    /* transition: background-color ; */
    transition: background-color 0.5s;
}


/*----------------------
     company logo
-----------------------*/
.company-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);   
}


/*-----------------------------
       populer collction  
------------------------------*/
.populer-collection h2{
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}
.collection{
    padding: 10px;
    box-shadow: 5px 5px 20px gray;
}
.collection-img img{
    width: 100%;
}
.collection-price{
    font-weight: bold;
}
.ratings-color{
    color: #FB8200;
}

.ratings span{
    font-weight: 800;
}


/*-------------------
      see more
---------------------*/
.see-more{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.see-more-width{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-more-color{
    color: #E02C6D;
}
.see-more a{
    text-decoration: none;
    font-size: 16px;
}


/*---------------------------
     featured products
----------------------------*/
.featured-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-img img{
    width: 100%;
}
.featured-text{
    margin-left: 50px;
}


/*-------------------------
       footer start
--------------------------*/
.footer-text{
    height: 239px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-font-color{
    color: white;
}
.contruct-us{
    width: 150px;
    display: flex;
    justify-content: space-between;
}


/*----------------------------------
----------media quary starts--------
-----------------------------------*/
@media only screen and (max-width:688px){

/*----------------------------
         mobile devices
-----------------------------*/
   .container{
       width: 100%;
   }
   .header, 
   .top-section, 
   .company-logo, 
   .populer-collection,
   .featured-products{
    padding: 10px;
   }
   .top-section{
       display: flex;
       flex-direction: column;
       margin-bottom: 50px;
   }
   
   .top-section-text {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 100%;
   }
   .top-section-text h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
   }
   #top-section-text-order{
       order: 1;
   }
   .company-logo{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 30px;
       margin-bottom: 30px;
   }
   .collections{
       display: grid;
       grid-template-columns: 1fr;
    }
    .see-more{
        margin-top: 20px;
    }
   .featured-products{
       display: flex;
       flex-direction: column;
       margin-top: 20px;
       margin-bottom: 50px;
   }
   .featured-text{
       margin-bottom: 30px;
       margin-left: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .featured-text h1{
       text-align: center;
   }
   #featured-img-order{
       order: 1;
   }  
}

/*--------------------------
       tablet devices
---------------------------*/
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .header, 
    .top-section, 
    .company-logo, 
    .populer-collection,
    .featured-products{
     padding: 20px;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    #top-section-text-order{
        order: 1;
    }
    
    .top-section-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top-section-text h1{
        text-align: center;
        font-size: 45px;
        font-weight: bold;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .featured-products{
        display: flex;
        flex-direction: column;
    }
    .featured-text{
        margin-bottom: 40px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #featured-img-order{
        order: 1;
    }
}
