/*-----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*-------------------
     common style
--------------------*/
body{
    margin: 80px 120px;
}

/*----------------------
    navigation bar
------------------------*/
/* .navigation{
    display: flex;
    flex-direction: ;
    justify-content: space-between;
    align-items: center;
} */
/* .heading h1{
    font-size: 24px;
    font-weight: bold;
} */
/* .nav-name{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 34px;
} */
/* .nav-name a{
    text-decoration: none;
    font-size: 16px;
    color: black;
} */
/* .fa-magnifying-glass-dollar{
    color: red;
} */

/*-----------------------
      first section
-----------------------*/

.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
    
}
.text-container{
    width:  40%;
}
.text-container h1{
    font-size: 52px;
    font-weight: bold;
}
.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 196px;
    padding: 10px 35px;
    background-color: #E02C6D;
    border-radius: 41px
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/*---------------------
    company logo
-----------------------*/
.company-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 80px;
    grid-column-gap: 2px;
}
.text-center{
    text-align: center;
}
.populer-collection{
    margin-top: 80px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}
.collection{
    padding: 10px;
    box-shadow: 5px 5px 20px gray;
}
.collection img{
    width: 100%;
}

/*-------------------
   see more
---------------------*/
.see-more{
    
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.see-more-color{
    color: #E02C6D;
}
.see-more a{
    text-decoration: none;
}

/*---------------------------
     featured products
----------------------------*/
.featured-products{
    margin-top: 80px;
    display: flex;
    /* flex-direction: row; */
}
.featured-text{

    margin-left: 50px;
}
.featured-img img{
    width: 100%;
}



/*-------------------------
       footer start
--------------------------*/
footer{
    margin-top: 80px;
    margin-bottom: 0;
    height: 239px;
    background-color: black;
}
.influencer-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.font-color{
    color: white;
}

/*---------------------------------
          media quary starts
-----------------------------------*/
@media only screen and (max-width:688px){
    body{
        margin: 15px;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #order1{
        order: 1;
    }
    .img-container img{
        width: 100%;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr;
    }
    .featured-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .featured-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 80px;
    }
    #featured-item-order{
        order: 2;
    }
    .featured-img img{
        width: 100%;
    }
    
}