/*-----------------
      fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*-------------------
     common style
--------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header, 
.top-section, 
.company-logo, 
.populer-collection,
.see-more,
.featured-products{
    padding: 60px;
}

/*-----------------------
      first section
-----------------------*/

.top-section{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}
.top-section-text{
    width:  50%;
}
.top-section-text h1{
    font-size: 52px;
    font-weight: bold;
}
.top-section-img img{
    width: 100%;
}
.button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 196px;
    padding: 10px 35px;
    background-color: #E02C6D;
    border-radius: 41px
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/*---------------------
    company logo
-----------------------*/
.company-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 80px;
    
}

/*-----------------------------
      populer collction  
------------------------------*/



.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}
.collection{
    padding: 10px;
    box-shadow: 5px 5px 20px gray;
}
.collection img{
    width: 100%;
}
.collection-price{
    font-weight: bold;
}
.ratings-color{
    color: #FB8200;
}
.ratings span{
    font-weight: 800;
}

/*-------------------
   see more
---------------------*/
.see-more{
    display: flex;
    justify-content: flex-end;
}
.see-more-width{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-more-color{
    color: #E02C6D;
}
.see-more a{
    text-decoration: none;
    font-size: 16px;
}

/*---------------------------
     featured products
----------------------------*/
.featured-products{
    /* margin-top: 80px; */
    display: flex;
}
.featured-img img{
    width: 100%;
}
.featured-text{
    margin-left: 50px;
}




/*-------------------------
       footer start
--------------------------*/
.footer-text{
    height: 239px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-color{
    color: white;
}

/*---------------------------------
          media quary starts
-----------------------------------*/
@media only screen and (max-width:688px){
/*----------------------------
-------mobile device----------
-----------------------------*/
   .container{
       width: 100%;
   }
   .header, 
   .top-section, 
   .company-logo, 
   .populer-collection,
   .featured-products{
    padding: 10px;
}
   .top-section{
       display: flex;
       flex-direction: column;
   }
   
   .top-section-text {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 100%;
   }
   #top-section-text-order{
       order: 1;
   }
   .company-logo{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 40px;
       

   }
   .collections{
       display: grid;
       grid-template-columns: 1fr;
       
   }
   .featured-products{
       display: flex;
       flex-direction: column;
   }
   .featured-text{
       margin-bottom: 40px;
       margin-left: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   #featured-img-order{
       order: 1;
   }
   .text-center{
    text-align: center;
}
    
}
/*--------------------------
       tablet device
---------------------------*/
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .header, 
    .top-section, 
    .company-logo, 
    .populer-collection,
    .featured-products{
     padding: 20px;
 }
    .top-section{
        display: flex;
        flex-direction: column;
    }
    
    .top-section-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
        
 
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .featured-products{
        display: flex;
        flex-direction: column;
    }
    .featured-text{
        margin-bottom: 40px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #featured-img-order{
        order: 1;
    }
    .text-center{
        text-align: center;
    }
}
